<div>
    <h2 id="page-heading">
        <span>User Info</span>
    </h2>
    <div class="row justify-content-center">
        <div class="col-12">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                <div>
                    <div class="form-group">
                        <input type="hidden" id="id" name="id" [(ngModel)]="userExtraInfo.id" />
                        <input type="text" class="form-control" name="descriptionUserNameLogin" id="field_descriptionUserNameLogin" placeholder="Username" [(ngModel)]="userExtraInfo.descriptionUserNameLogin" required/>
                        <input type="text" class="form-control" name="descriptionFullname" id="field_descriptionFullname" placeholder="Fullname" [(ngModel)]="userExtraInfo.descriptionFullname"/>
                        <input type="text" class="form-control" name="descriptionMainEmail" id="field_descriptionMainEmail" placeholder="E-mail" [(ngModel)]="userExtraInfo.descriptionMainEmail" required pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$"/>
                        <input type="text" class="form-control" name="descriptionGeographicLocalization" id="field_descriptionGeographicLocalization" placeholder="City/State/Country" [(ngModel)]="userExtraInfo.descriptionGeographicLocalization"/>

                        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                        </button>
 
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <br/>

    <div class="table-responsive" *ngIf="userExtraInfos">
        <h4 id="page-heading">
            <span>Users Registered:</span>
        </h4>
            
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span >ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="descriptionUserNameLogin"><span>Username:</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="descriptionMainEmail"><span>Email:</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userExtraInfo of userExtraInfos ;trackBy: trackId">
                <td><a (click)="selectUser(userExtraInfo)">{{userExtraInfo.id}}</a></td>
                <td>{{userExtraInfo.descriptionUserNameLogin}}</td>
                <td>{{userExtraInfo.descriptionMainEmail}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button id="jhigtw-confirm-delete-userExtraInfo" type="button" class="btn btn-danger" (click)="deleteRecord(userExtraInfo)">
                            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userExtraInfos && userExtraInfos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
