<div class="footer" style="background-color: #343a40 !important; text-align: right;">

    <a routerLink="/" style="color: burlywood;">
        <span jhiTranslate="global.title" class="navbar-title">Gtw01AlnsNeuedaUrlShortener</span> 
    </a>

</div>
