<div>
    <h2 id="page-heading" style="text-align: center;">
        <span>Statistics Info for Shortened URL:</span>
    </h2>
    <h4 style="background-color: darksalmon; text-align: center;" *ngIf="shortenedURLParent">
        <span>{{shortenedURLParent?.fullLinkToRedirect}}</span>
    </h4>
    <p style="color: white; background-color: coral; text-align: center;" *ngIf="!shortenedURLParent">
        <span>Select or create a Shortened URL on your left panel.</span>
    </p>

    <div class="row justify-content-center" *ngIf="shortenedURLParent">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td><dt><span>Qtd. Calls for Redirecting:</span></dt></td>
                        <td><dt><span>Algorithm Used:</span></dt></td>                        
                    </tr>
                    <tr>
                        <td><dd><span>{{shortenedURLParent.qtyCallsForRedirecting}}</span></dd></td>
                        <td><dd><span>{{shortenedURLParent.generationAlgorithmType}}</span></dd></td>                        
                    </tr>
                    <tr>
                        <td><dt><span>Date Encoding:</span></dt></td>
                        <td><dt><span>Last Access:</span></dt></td>                        
                    </tr>
                    <tr>
                        <td><dd><span>{{shortenedURLParent.dateEncoding | date:'dd/MM/yyyy - HH:mm:ss'}}</span></dd></span></dd></td>
                        <td><dd><span>{{shortenedURLParent.dateLastAccess | date:'dd/MM/yyyy - HH:mm:ss'}}</span></dd></td>                        
                    </tr>
                </table>
            </div>
        </div>

        <br/>

        <div class="table-responsive" *ngIf="statisticsInfosRegisteredList">
            <h4 id="page-heading">
                <span>Statistics Info Registered for This Shortened URL:</span>
            </h4>
                    
            <table class="table table-striped">
    
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="reasonCallDoneType"><span>Reason:</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="dateAccess"><span>Date Access:</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="numberIPAddressCaller"><span>IP Caller:</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th jhiSortBy="countryCallerCode"><span>From:</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let statisticsInfo of statisticsInfosRegisteredList ;trackBy: trackId">
                        <td>{{ (statisticsInfo.reasonCallDoneType === 'TO_REDIRECT' ? 'Redirect' : 'API Call') }}</td>
                        <td>{{statisticsInfo.dateAccess | date:'dd/MM/yyyy - HH:mm:ss'}}</td>
                        <td>{{statisticsInfo.numberIPAddressCaller}}</td>
                        <td>{{statisticsInfo.countryCallerCode}}</td>
                        <td class="text-right">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="statisticsInfosRegisteredList && statisticsInfosRegisteredList.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>

    </div>
</div>
