<div>
    <h2 id="page-heading" style="text-align: center;">
        <span>Shortened URLs of the User:</span>
    </h2>
    <h4 style="background-color: darksalmon; text-align: center;" *ngIf="userExtraInfoParent">
        <span>{{userExtraInfoParent?.descriptionUserNameLogin}} - {{userExtraInfoParent?.descriptionFullname}} - {{userExtraInfoParent?.descriptionGeographicLocalization}}</span>
    </h4>
    <p style="color: white; background-color: coral; text-align: center;" *ngIf="!userExtraInfoParent">
        <span>Before creating a Shorter URL, select or create a User on your left panel.</span>
    </p>

    <div class="row justify-content-center">
        <div class="col-12">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                <div class="form-group">
                    <input type="hidden" id="id" name="id" [(ngModel)]="shortenedURL.id" />
                    <textarea class="form-control" name="descriptionLongURL" id="field_descriptionLongURL" placeholder="The Awful Long URL" [(ngModel)]="shortenedURL.descriptionLongURL" required minlength="10" cols="100" rows="3" maxlength="800"></textarea>

                    <select class="form-control" name="generationAlgorithmType" placeholder="Algorithm Type" [(ngModel)]="shortenedURL.generationAlgorithmType" id="field_generationAlgorithmType"  required readonly>
                        <option value="null">[Select the Algorithm To Generate this Short URL</option>
                        <option value="BASE64_UUID">{{'gtw01AlnsNeuedaUrlShortenerApp.AlgorithmShorteningURLEnum.BASE64_UUID' | translate}}</option>
                        <option value="GOOGLE_API">{{'gtw01AlnsNeuedaUrlShortenerApp.AlgorithmShorteningURLEnum.GOOGLE_API' | translate}}</option>
                    </select>
    
                    <button type="button" id="butGenerateShortURL" [disabled]="!userExtraInfoParent || isSaving || !shortenedURL.descriptionLongURL || !shortenedURL.generationAlgorithmType" class="btn btn-secondary" (click)="generateShortURL(shortenedURL)">
                        <fa-icon [icon]="'update'"></fa-icon>&nbsp;<span>Generate Short URL</span>
                    </button>
    
                    <input type="text" class="form-control" name="descriptionShortenedURL" id="field_descriptionShortenedURL" placeholder="Here it comes your Short URL" [(ngModel)]="shortenedURL.descriptionShortenedURL" maxlength="40" readonly/>

                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="!userExtraInfoParent || editForm.form.invalid || isSaving || !shortenedURL.descriptionShortenedURL" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                    </button>

                </div>
            </form>
        </div>
    </div>
    
    <br/>

    <div class="table-responsive" *ngIf="shortenedURLS">
        <h4 id="page-heading">
            <span>Shortened URL's Registered:</span>
        </h4>
                    
        
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="descriptionShortenedURL"><span>Shortened URL:</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="generationAlgorithmType"><span>Algorithm:</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let shortenedURL of shortenedURLS ;trackBy: trackId">
                    <td>
                        <a (click)="selectShortenedURL(shortenedURL)">{{shortenedURL.descriptionShortenedURL}}</a>
                        <br>
                        <span style="color: brown; font-size: 8pt;">
                            {{shortenedURL.fullLinkToRedirect}}
                        </span>
                    </td>
                    <td>
                        <span jhiTranslate="{{'gtw01AlnsNeuedaUrlShortenerApp.AlgorithmShorteningURLEnum.' + shortenedURL.generationAlgorithmType}}">{{shortenedURL.generationAlgorithmType}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button id="jhigtw-follow-shortenedURL" type="button" class="btn btn-info" (click)="followShortURL(shortenedURL)">
                                <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Redirect To</span>
                            </button>
        
                            <button id="jhigtw-confirm-delete-shortenedURL" type="button" class="btn btn-danger" (click)="deleteRecord(shortenedURL, true)">
                                <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span >Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        
        </table>
    </div>
    <div *ngIf="shortenedURLS && shortenedURLS.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
