<div>
    <h2 id="page-heading">
        <span jhiTranslate="gtw01AlnsNeuedaUrlShortenerApp.ms02TextEncoderKeyTextEncodedPreGenerated.home.title">Key Text Encoded Pre Generateds</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-key-text-encoded-pre-generated" [routerLink]="['/key-text-encoded-pre-generated/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gtw01AlnsNeuedaUrlShortenerApp.ms02TextEncoderKeyTextEncodedPreGenerated.home.createLabel">
            Create new Key Text Encoded Pre Generated
            </span>
        </button>
    </h2>
    <jhigtw-alert></jhigtw-alert>
    <br/>
    <div class="table-responsive" *ngIf="keyTextEncodedPreGenerateds">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instantCreation"><span jhiTranslate="gtw01AlnsNeuedaUrlShortenerApp.ms02TextEncoderKeyTextEncodedPreGenerated.instantCreation">Instant Creation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="gtw01AlnsNeuedaUrlShortenerApp.ms02TextEncoderKeyTextEncodedPreGenerated.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let keyTextEncodedPreGenerated of keyTextEncodedPreGenerateds ;trackBy: trackId">
                <td><a [routerLink]="['/key-text-encoded-pre-generated', keyTextEncodedPreGenerated.id, 'view' ]">{{keyTextEncodedPreGenerated.id}}</a></td>
                <td>{{keyTextEncodedPreGenerated.instantCreation | date:'medium'}}</td>
                <td jhiTranslate="{{'gtw01AlnsNeuedaUrlShortenerApp.KeyStatusEnum.' + keyTextEncodedPreGenerated.status}}">{{keyTextEncodedPreGenerated.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/key-text-encoded-pre-generated', keyTextEncodedPreGenerated.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/key-text-encoded-pre-generated', keyTextEncodedPreGenerated.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'key-text-encoded-pre-generated', { outlets: { popup: keyTextEncodedPreGenerated.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="keyTextEncodedPreGenerateds && keyTextEncodedPreGenerateds.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
