<div class="row justify-content-center">
    <div class="col-md-12">
        <jhigtw-alert-error></jhigtw-alert-error>
        <jhigtw-alert></jhigtw-alert>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        
        <jhigtw-user-extra-info></jhigtw-user-extra-info>
 
    </div>

    <div class="col-md-4">
        
        <jhigtw-shortened-url></jhigtw-shortened-url>

    </div>

    <div class="col-md-4">
        
        <jhigtw-statistics-info></jhigtw-statistics-info>

    </div>

</div>

